<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Fortress</title>
  </head>
  <body>
      <header>
          <a href="https://github.com/cs298-398f23/file-fortress">GitHub Repo</a>
          {% if current_user.is_authenticated %}
          <p>Hi {{ current_user.username }}!</p>
          <a href="{{ url_for('users.logout') }}">Logout</a>
          {% else %}
          <a href="/login">Login</a>
          {% endif %}
      </header>
      <main>
        Hello! Welcome to File Fortress
        {% if current_user.is_authenticated %}
        <a href="/upload"><button>Upload</button></a>
        {% endif %}
      </main>
  </body>
</html>
